.AvatarComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Avatar-Pic > img {
  width: 5rem;
  filter: drop-shadow(8px 5px 8px rgb(173, 171, 164));
}

.Avatar-Pic:hover img {
  filter: brightness(1.1);
}

.avatarName {
  margin-top: -0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--primary-color-font);
}

@media (min-width: 770px) {
  .AvatarComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 4rem;
    margin-top: 8rem;
  }
}
