.footerComponent {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8%;
  padding: 10px 0;
}

@media (max-width: 770px) {
  .footerComponent {
    display: none;
  }
}
